//Colors
$white : #fff;
$primary: #1D8FC8;
$secondary: rgb(240, 188, 92);
$warning: #feeeb0;
$danger: #ba5624;
$dark : #313131;
$success : #45c5b0; 
$info : #b9dae9; 
$light : #f0ebeb; 

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "warning": $warning,
    "dark": $dark,
    "info": $info,
    "success": $success,
    "white": $white,
    "light": $light,
);

root{
  --primary: $primary;
  --secondary: $secondary;
  --danger: $danger;
  --warning: $warning;
  --dark : $dark;
  --white : $white;
  --info: $info;
  --light: $light;
  --gradient: linear-gradient(-45deg,  $secondary, $primary, #201dc8, $info);
}



$body-color: $dark;

// Spacing
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);


// Typography
$font-family-sans-serif: 'Public Sans', sans-serif;

//Font weight
$font-weight-bold:           600;
$font-weight-bolder:         700;





// Heading font weight
$headings-font-weight:   $font-weight-bold;



//font size
$font-size-base:              1rem; 
$small-font-size:              0.667rem;

//Heading sizes
$h1-font-size:                $font-size-base * 5.036;
$h2-font-size:                $font-size-base * 3.375;
$h3-font-size:                $font-size-base * 2.25;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1;
$h6-font-size:                $small-font-size * 1;



@media (max-width:1200px){
    h1, .h1 { font-size: $h2-font-size!important; }
    h2, .h2 { font-size: $h3-font-size!important; }
    h3, .h3 { font-size: $h4-font-size!important; }
    h4, .h4 { font-size: $h5-font-size!important; }
    h5, .h5 { font-size: $font-size-base!important; }
    h6, .h6 { font-size: $small-font-size!important; }
}





@media (min-width:1200px){
  h1, .h1 { font-size: $h1-font-size; }
  h2, .h2 { font-size: $h2-font-size; }
  h3, .h3 { font-size: $h3-font-size; }
  h4, .h4 { font-size: $h4-font-size; }
  h5, .h5 { font-size: $h5-font-size; }
  h6, .h6 { font-size: $font-size-base; }
}

//heading spacer
$headings-line-height:        1;
$headings-margin-bottom:      $spacer * 2 !default;



//Display
$display1-size:               11.391rem;
$display2-size:               7.594rem;
$display3-size:               $h1-font-size;
$display4-size:               $h2-font-size;

$display1-weight:             600;
$display2-weight:             600;
$display3-weight:             600;
$display4-weight:             600;


// paragraph

@media (min-width:1200px){
  .lead{
    font-size: $h5-font-size;
  }
}

$paragraph-margin-bottom:   2rem;




// Butons

$btn-border-radius:           2px;
$btn-border-radius-lg:        2px;
$btn-border-radius-sm:         2px;


$btn-padding-y:               .8rem ;
$btn-padding-x:               2.75rem ;
$btn-font-size:               $small-font-size;

$btn-padding-y-sm:            .4rem;
$btn-padding-x-sm:            1rem;
$btn-font-size-sm:            ($small-font-size * .8);


$btn-padding-y-lg:            1.1rem ;
$btn-padding-x-lg:            2.8rem;
$btn-font-size-lg:            $h5-font-size;


$btn-border-width:            0;


$btn-focus-width:             0;
$btn-focus-box-shadow:        none;
$btn-disabled-opacity:        .40;
$btn-active-box-shadow:       nonr;


// forms

$label-margin-bottom:                   0;

$input-font-size: ($h4-font-size * .8);


$input-padding-x:                       0;




$input-bg:                              transparent;
$input-disabled-bg:                     transparent;

$input-color:                           rgba($dark, .8);
$input-border-color:                    $dark;
$input-border-width:                    1px;
$input-placeholder-color:               rgba($dark, .5);

$input-box-shadow:                      none;

$input-border-radius:                   0;
$input-border-radius-lg:                0;
$input-border-radius-sm:                0;

$input-focus-bg:                        0;
$input-focus-border-color:              $dark;
$input-focus-color:                    rgba($dark, 1);

$input-focus-box-shadow:                none;






 @import "node_modules/bootstrap/scss/bootstrap";


 @media (max-width:768px){
  .btn-sm-block{
    display: block;
    width: 100%;
  }
 }


.form-group{
  position: relative;
  padding: 1rem 0;
  @include transition(.2s);
  label{
    opacity: 0;
    position: absolute;
    top: 22px;
    @include transition(.2s);
  }

  .form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    &:focus{
      
      &::placeholder{
        color: rgba($dark, 0);
      }
      & + label{
        opacity: 1;
        top: 0;
        font-size: $small-font-size;
      }
    }
    

  }

  textarea.form-control{
    height: 4rem;
    &:focus{
      height: auto;
    }
  }


}

.form-dark{
  .form-control{
    border-color: rgba($white, .3);
    font-weight: 200;
    &::placeholder, &:focus{
      color: $white;
    }
    

    &:focus{
      border-color: rgba($white, .8);
    }
  }
  label{
    color: $secondary;
  }
}


//bg animated


