@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-ExtraBold.woff2') format('woff2'),
        url('PublicSans-ExtraBold.woff') format('woff'),
        url('PublicSans-ExtraBold.svg#PublicSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Regular.woff2') format('woff2'),
        url('PublicSans-Regular.woff') format('woff'),
        url('PublicSans-Regular.svg#PublicSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Black.woff2') format('woff2'),
        url('PublicSans-Black.woff') format('woff'),
        url('PublicSans-Black.svg#PublicSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Bold.woff2') format('woff2'),
        url('PublicSans-Bold.woff') format('woff'),
        url('PublicSans-Bold.svg#PublicSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Medium.woff2') format('woff2'),
        url('PublicSans-Medium.woff') format('woff'),
        url('PublicSans-Medium.svg#PublicSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-SemiBold.woff2') format('woff2'),
        url('PublicSans-SemiBold.woff') format('woff'),
        url('PublicSans-SemiBold.svg#PublicSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Light.woff2') format('woff2'),
        url('PublicSans-Light.woff') format('woff'),
        url('PublicSans-Light.svg#PublicSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

