<script src="js/all.js"></script>

<script>
var wow = new WOW( {
    mobile:    false
  });
wow.init();
</script>



<script type="text/javascript">  

var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
    } else {
    document.getElementById("navbar").style.top = "0px";
    }
    prevScrollpos = currentScrollPos;
}


    /* ============================================== */
    /* EFFECT MENU */
    /* ============================================== */

    $(function(){
        jQuery(window).scroll(function () {
            if (jQuery(window).scrollTop() > 30) {
                jQuery(".navigation-fixed-top").addClass("effect");
                jQuery(".navigation-fixed").addClass("effect");
            } else {
                jQuery(".navigation-fixed-top").removeClass("effect");
                jQuery(".navigation-fixed").removeClass("effect");
            }
            if (jQuery(window).scrollTop() > 180) {
                jQuery(".section-main").addClass("effect");                
            } else {
                jQuery(".section-main").removeClass("effect");                
            }

            if (jQuery(window).scrollTop() > 270) {
                jQuery(".section-main").addClass("op-0");                
            } else {
                jQuery(".section-main").removeClass("op-0");                
            }
        });
    });

    $("#toggle").click(function() {
        $(this).toggleClass("on");
         $("#menu").toggleClass("open");
         

         if($(this).attr('class') == 'on'){
          	$("body").addClass('menu-open');
          }else{ 
          	$("body").removeClass('menu-open');
          }
        
        
    });



    $("#menu li a").click(function() {          
        $("#menu").removeClass('open');
        $("#toggle").toggleClass("on");
        $("body").removeClass('menu-open');
    });


 
   

</script>
</body>
</html>
