
<footer class="bg-dark text-light py-5">
    <div class="container-fluid">
        <h3 class="h2 text-secondary">
            Consultas
        </h3>

        <form class="form-dark" action="">
            <div class="form-group">                
                <input type="text" class="form-control" id="exampleInputText1" aria-describedby="TextHelp" placeholder="Nombre completo">   
                <label for="exampleInputText1">Nombre completo</label>             
            </div>
            <div class="form-group">                
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">   
                <label for="exampleInputEmail1">Email address</label>             
            </div>
            <div class="form-group">                
                <input type="text" class="form-control" id="exampleInputTel1" aria-describedby="TextHelp" placeholder="Teléfono">   
                <label for="exampleInputTel1">Nombre completo</label>             
            </div>
            <div class="form-group">                
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Consulta"></textarea>
                <label for="exampleFormControlTextarea1">Consulta</label>
            </div>
               <button class="btn btn-secondary btn-lg btn-sm-block">Enviar</button>
        </form>

    </div>
    
</footer>

<script src="js/all.js"></script>
<script src="js/wow.min.js"></script>
</body>
</html>
